.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Ignore virtual environments in the cluster and local
myEnv/
.venv/

# Ignore FAISS databases
performance_evaluation/faiss_db_*/
faiss_dbs/

# Ignore data from LSEG
data/lseg_*

# Ignore temporary excel files
data/*.xlsx

# Ignore downloaded data from natural earth
data/earth/*

# Ignore slurm job information
logs/
*.sh
