.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Ignore virtual environments in the cluster and local
myEnv/
.venv/

# Ignore shell command file
shell_commands.txt

# Ignore FAISS databases
performance_evaluation/faiss_db_*/
faiss_dbs/

# Ignore data from LSEG
data/lseg_*

# Ignore temporary excel files
data/esrs_reports.xlsx
data/srn_reports.xlsx

# Ignore downloaded data from natural earth
data/earth/*

# Ignore slurm job information
logs/
*.sh

# Ignore skipped_reports
skipped_reports/*